* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    padding: 12px;
}

.container {
    text-align: center;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}